{% extends 'base.html.twig' %}

{% block title %}My quizz | Bienvenue
{% endblock %}

{% block body %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400 &display=swap');

		body {
			margin: 0;
			background: black;
			background-image: url('assets/bg.gif');
			/* background-repeat: no-repeat; */
			color: #c4c4c4;
			font-family: 'Poppins', sans-serif;
			line-height: 1.5;
		}

		a {
			text-decoration: none;
			color: #fc5d5d;
		}

		.container-navbar {
			display: flex;
			justify-content: center;
		}

		.topnav {
			position: fixed;
			background-color: background: #171717;
			width: 60%;
			height: calc(30px * 2 + 1.3rem + 1px);
		}

		.topnav a {
			margin-right: 30px;
		}

		.links {
			margin-top: 30px;
			font-weight: bold;
			text-transform: uppercase;
		}

		a:hover {
			-webkit-transition: all 0.6s ease-in-out;
			color: #A7C7E7;
		}

		.container-homepage {
			display: flex;
			justify-content: center;
		}

		.homepage {
			background-color: #171717;
			width: 60%;
			height: 57vh;
			margin-top: 90px;
			background-image: url('assets/my_quizz.jpg');
			background-repeat: no-repeat;
			background-position: center;
		}

		.infos {
			margin-top: 30%;
		}

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background: #555;
		}

		::-webkit-scrollbar-thumb {
			background-color: #fc5d5d;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.container-describe {
			display: flex;
			justify-content: center;
		}

		.homepage-describe {
			background-color: #202020;
			width: 60%;
			height: 60vh;
		}

		.infos-set {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			width: 400px;
			-webkit-display: flex;
			background-color: #171717;
			border-radius: 3px;
			padding: 20px;
			transition: ease 0.3s;
		}

		.infos-set:hover {
			transform: translateY(9px);
		}

		.line {
			padding: 50px;
		}

		.title {
			font-weight: bold;
			text-transform: uppercase;
			color: #fc5d5d;
		}

		.describe {
			display: flex;
			text-align: justify;
			font-style: italic;
		}

		.container-button {
			display: flex;
			justify-content: center;
		}

		.line-button {
			padding: 3px;
		}

		.button-design {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 200px;
			padding: 5px;
			background: rgb(252, 93, 93);
			background: linear-gradient(90deg, rgba(252,93,93,1) 0%, rgba(23,23,23,1) 35%, rgba(32,32,32,1) 100%);
			color: #fc5d5d;
			font-weight: bold;
		}
		.test {
			display: flex;
			justify-content: space-between;
		}
	</style>

	<div class="wrapper">
		<div class="container-navbar">
			<div class="topnav">
				<div class="links">
					<a href="/index">Index</a>

					<a href="/about">About</a>

					<a href="/register">S'inscrire</a>

					<a href="/login">Se connecter</a>
				</div>
			</div>
		</div>

		<div class="container-homepage">
			<div class="homepage">
				<div class="infos">
					<div class="container-button">
						<div class="line-button">
							<a href="{{ path('create') }}" class="button-design">Je commence à créer ma première question</a>
						</div>
						<div class="line-button">
							<a href="{{ path('app_login') }}" class="button-design">Me connecter</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-describe">
			<div class="homepage-describe">
				<div class="line">
					<div class="test">
						<div class="infos-set">
							<h3 class="title">My quizz</h3>
							<p class="describe">Les questions sont souvent les choses les plus intéressantes. Pourquoi ne pas commencer à les répondre ?</p>
						</div>
						<div class="infos-set">
							<h3 class="title">Quoi de mieux que ce site de quizz...</h3>
							<p class="describe">Il vous permet d'être le meilleur quizzeur qui existe, tous types de quizz sont la bienvenue. À vous de jouer !</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer></footer>

	</div>
{% endblock %}
